<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Draw!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/dist/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mb-3">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button"
              data-toggle="collapse" data-target="#navbar_main"
              aria-controls="navbar_main" aria-expanded="false"
              aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link "Draw", to: page_path(@conn, :index), class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbar_main">
          <ul class="navbar-nav mr-auto">
            <%= active_link(@conn, "New drawing", to: "/new-drawing") %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= show_flash(@conn) %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
</html>
